#lienAcheter {
    margin:0;
    color:#00e676; 
    text-align: center; 
}

#cardOeuvre {
    width:73%;
}

#containerOeuvre {
    text-align: center;
}

#ligneTitre {
    text-align: center;
}

#ligneMeilleurPaint {
    text-align: center;
}

#letitrequibouge {
    border: solid 1.2px #2D2F36;
    animation: mymove 2s infinite;
}

@keyframes mymove {
    50% {border-radius: 42px;}
}

#letitrequibouge:hover {
    background-color: #2D2F36;
    color: white;
    animation: borderstyle 2s infinite;
}

@keyframes borderstyle {
    50% {border: solid 1.2px #f2f2f2}
    50% {border-radius: 42px;}   
}

#meilleurePaint {
    height: 200px;
}